@{
    ViewBag.Title = "Подтверждение забытого пароля";
}

<hgroup class="title">
    <h1 class="h2-white">@ViewBag.Title.</h1>
</hgroup>
<div>
    <p class="p-white">
        Проверьте свой адрес электронной почты, чтобы обновить пароль.
    </p>
</div>
	
