
@{
    ViewBag.Title = "HomePage";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="container">

    <div id="carousel-space" class="carousel slide" data-ride="carousel" style="margin-right: 20px; margin-top: 10px">

        <ol class="carousel-indicators">
            <li data-target="#carousel-space" data-slide-to="0"></li>
            <li data-target="#carousel-space" data-slide-to="1"></li>
            <li data-target="#carousel-space" data-slide-to="2" class="active"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/Images/1.jpg" alt="...">
                <div class="carousel-caption">
                    <b>Большое шаровое скопление в Геркулесе</b>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/4.jpg" alt="...">
                <div class="carousel-caption">
                    <b>Галактика М31</b>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/Images/5.jpg" alt="...">
                <div class="carousel-caption">
                    <b>Тумманость Кольцо</b>
                </div>
            </div>

        </div>
        <a class="left carousel-control" href="#carousel-space" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-space" role="button" data-slide="next">
            <span class=" glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<h2 class="h2-white">ГАЛАКТИКА АНДРОМЕДЫ (Мессье М31)</h2>

<p class="p-white">
    Галактика Андромеды - это ближайшая к нашему Млечному Пути большая галактика.
    Считается, что наша Галактика очень похожа на Андромеду. Эти две галактики доминируют в Местной Группе галактик.
    Диффузный свет Андромеды обусловлен свечением сотен миллиардов звезд, из которых она состоит.
    Несколько отдельных звезд, которые окружают изображение галактики Андромеды - это звезды нашей Галактики, которые находятся значительно ближе.
    Галактику Андромеды часто обозначают как M31, так как это 31-й объект в списке диффузных небесных объектов, составленном Мессье.
    M31 находится так далеко, что свет от нее идет до нас около двух миллионов лет. Хотя ее можно увидеть и невооруженным глазом, это изображение M31 - цифровой монтаж из 20-ти отдельных кадров, полученных с помощью маленького телескопа.
    Многое о M31 остается неизвестным, в том числе - почему в ее центре находятся два ядра.
    <hr />
    <h2 class="h2-white">СКОПЛЕНИЕ ГЕРКУЛЕСА (Мессье М13)</h2>
<p class="p-white">
    Мессье 13 (NGC 6205) – крупное шаровое скопление, удаленное на 22200 световых лет.
    Занимает место в созвездии Геркулес. Отличается яркостью благодаря кажущейся величине 5.8.
    Возраст – 11.65 миллиардов лет, а количество звезд – 300000. Чтобы вы понимали все масштабы, по массе в полмиллиона раз превосходит солнечную.
</p>
